html {
  min-width: 320px;
  overflow-x: hidden; }

body {
  display: grid;
  grid-template-rows: 73px 100vh auto 115px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px; }

nav {
  align-self: center;
  display: none; }

a {
  text-decoration: none; }

.header {
  display: grid;
  background-color: #2b2d3c;
  grid-template-rows: 5px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-bottom: 1px solid #191919; }
  .header .row {
    background-color: #6a7cff; }
  .header .cabecalho {
    display: flex;
    justify-content: space-between; }
    .header .cabecalho .menu-hamburguer {
      background: rgba(106, 124, 255, 0.4);
      text-align: center;
      font-size: 200%;
      color: #6a7cff;
      display: flex;
      flex-direction: column;
      height: 68px;
      width: 68px;
      position: relative; }
      .header .cabecalho .menu-hamburguer > * {
        margin: auto; }

#logo-peq {
  width: 85px !important; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px; }
  .nav a {
    display: block;
    color: #fff; }
  .nav .social-medias a {
    font-size: 35px;
    padding: 0.2em 0.2em; }

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style-type: none;
  text-decoration: none; }
  .social-medias i {
    color: #6a7cff; }
  .social-medias a:hover i {
    color: rgba(106, 124, 255, 0.4);
    transition-duration: 0.3s; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

a.bttn {
  color: #6a7cff;
  text-decoration: none;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: center; }
  a.bttn:hover {
    color: #2b2d3c; }
  a.bttn:focus {
    color: #2b2d3c; }

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 20px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #6a7cff;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #6a7cff;
    z-index: -2; }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

.hamburgler {
  width: 49.75px;
  height: 49.75px;
  display: block;
  transition: 0.3s ease all; }
  .hamburgler.no-hamburgler {
    transform: rotate(-45deg); }

.bun,
.meat {
  display: block;
  width: 100%;
  background: #6a7cff;
  height: 20%;
  transition: 0.3s ease all;
  border-radius: 50px; }

.no-hamburgler .top {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 50px 50px 0 0; }

.no-hamburgler .bottom {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 0 0 50px 50px; }

.meat {
  margin: 20% 0; }
  .no-hamburgler .meat {
    margin: 2% 0; }

@media screen and (min-width: 380px) {
  body {
    display: grid;
    grid-template-rows: 135px 100vh auto 115px; }

  .img-container .logo {
    display: none; }

  .img-container::before {
    content: url("../img/nome-destaque-250-125.jpg"); }

  .hamburgler {
    width: 101.25px;
    height: 101.25px; }

  .header .cabecalho .menu-hamburguer {
    text-align: center;
    font-size: 200%;
    height: 130px !important;
    width: 130px !important; }

  nav {
    display: none; } }
@media screen and (min-width: 600px) {
  .header .cabecalho .menu-hamburguer {
    display: none; }

  nav {
    display: flex;
    justify-self: baseline; }
    nav .nav .social-medias {
      padding-left: 20px; } }
@media screen and (max-width: 800px) {
  .bttn {
    width: 150px; }

  .nav {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 150px 150px;
    margin-right: 35px; } }
@media screen and (max-width: 1050px) {
  .bttn {
    width: 136px; }

  .nav {
    margin-right: 20px; }
    .nav .social-medias {
      padding-left: 0px; }
      .nav .social-medias a {
        font-size: 30px;
        padding: 0.2em 0.2em; } }
@media screen and (min-width: 1050px) {
  .bttn {
    width: 200px; }

  .nav {
    margin-right: 20px; }
    .nav .social-medias {
      padding-left: 40px; }

  .header .cabecalho {
    justify-content: start; }

  nav {
    margin: auto; } }
body {
  display: grid;
  grid-template-rows: 135px 800px 800px 800px 115px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px; }

.content {
  padding: 3em 5%; }

.footer {
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1); }
  .footer div,
  .footer nav,
  .footer .tooltip {
    align-self: center; }

footer #back-to-top {
  background: transparent url(../img/sprite.png) 0 -948px;
  width: 118px;
  height: 55px;
  display: block;
  position: absolute;
  left: calc(50%-59px);
  top: -45px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

footer #back-to-top:hover,
footer #back-to-top:focus,
footer #back-to-top:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

.footer,
.articles .portifolio ul li a {
  color: #333333; }

.background1 {
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #2e2e2e !important; }

.background2 {
  background: #fafafa !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #666666 !important; }

.background3 {
  background: #f5f5f5 !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #666666 !important; }

.background4 {
  background-color: #fafafa !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #666666 !important; }

.background5 {
  background: transparent url(../img/sprite.png) 0 -948px !important;
  height: 55px;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background--on1 {
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #ddd !important; }

.background--on2 {
  background: #757575 !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #ddd !important; }

.background--on3 {
  background: #1a181d !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #ddd !important; }

.background--on4 {
  background-color: #757575 !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  text-shadow: 0px 1px 1px #000 !important;
  color: #ddd !important; }

.background--on5 {
  background: transparent url(../img/sprite.png) 0 -840px !important;
  height: 55px;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background6 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%232a2a2a' fill-opacity='0.3'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #666666 !important; }

.background--on6 {
  background-color: #2a2a2a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.3'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  color: #ddd !important; }

.toggle-body {
  width: 3.5rem;
  height: 1rem;
  position: relative;
  background: #b7bfff;
  border-radius: 2rem;
  animation: angle-reverse 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  top: 17px; }

.toggle-body--on {
  animation: angle 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  animation-direction: alternate; }

.toggle-btn {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  top: calc(50% - 1.15rem / 2);
  left: calc(27% - 1.7rem / 2);
  background: white;
  border-radius: 2rem;
  background: #2a2a2a;
  cursor: pointer;
  transform: translateX(0);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  border: solid #fff 2px; }

.toggle-btn--on {
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transform: translateX(200%);
  background: #fff; }

@keyframes angle {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes angle-reverse {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }
/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*# sourceMappingURL=about-me.css.map */
