#keyboard {
  left: -28%;
  top: 18%;
  transform: rotate(-45deg) scale(1);
  clear: both; }

#keyboard::after {
  content: "\A#keyboard { \A position: absolute;}";
  white-space: pre; }

.pen {
  transform: rotate(-70deg) scale(1);
  left: 75%;
  z-index: 80;
  top: 65%;
  clear: both; }

#mouse {
  left: 12%;
  top: 18%;
  transform: rotate(18deg) scale(1.1);
  clear: both; }

#mouse::after {
  content: ".mouse{ \A 	border-radius: 10rem;}";
  white-space: pre; }

#iphone {
  left: 50%;
  top: 15%;
  transform: translate(-50%) scale(1.3);
  clear: both; }

#coffee {
  left: 66%;
  top: 15%;
  transform: rotate(30deg) scale(1.2);
  clear: both; }

#alca::after {
  content: "\A \A \A.coffee{ \Atemperature: hot}";
  white-space: pre; }

#eraser {
  left: 89%;
  top: 125%;
  transform: rotate(-45deg) scale(1.3);
  clear: both; }

#eraser::after {
  content: "#eraser{ \A   	background-color: #07bdff;}";
  white-space: pre; }

#grafite-cont {
  left: -8%;
  top: 125%;
  transform: rotate(-25deg) scale(1.2);
  clear: both; }

#grafite-cont::after {
  content: "#graphite{ \A		width: 7rem;}";
  white-space: pre; }

.notepad {
  left: 96%;
  top: -10%;
  transform: rotate(25deg) scale(1);
  float: none; }

.wrap {
  position: absolute;
  top: 75%;
  transform: scale(1); }

#headset {
  transform: rotate(-30deg) scale(1.2);
  left: 0%;
  top: 60%;
  clear: both; }

.title {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #969696;
  margin-top: 40vh; }
  .title h1 {
    font-size: 3.8rem; }
  .title h3 {
    text-decoration-line: underline overline;
    text-decoration-style: double;
    font-size: 2.3rem; }
  @media (max-width: 1400px) {
    .title h1 {
      font-size: 3.5rem; }
    .title h3 {
      font-size: 2.1rem; } }
@media (max-width: 1400px) and (max-width: 1200px) {
  .title h1 {
    font-size: 3.3rem; }
  .title h3 {
    font-size: 2rem; } }

  @media (max-width: 800px) {
    .title h1 {
      font-size: 3rem; }
    .title h3 {
      font-size: 1.8rem; } }
  @media (max-width: 600px) {
    .title h1 {
      font-size: 2.5rem; }
    .title h3 {
      font-size: 1.4rem; } }
  @media (max-width: 500px) {
    .title h1 {
      font-size: 2.3rem; }
    .title h3 {
      font-size: 1.2rem; } }
  @media (max-width: 400px) {
    .title h1 {
      font-size: 2rem; }
    .title h3 {
      font-size: 1rem; } }

@media (max-width: 1400px) {
  #keyboard {
    transform: scale(0.91) rotate(-45deg); }

  .pen {
    transform: scale(0.91) rotate(-70deg); }

  #mouse {
    transform: scale(1.01) rotate(18deg); }

  #iphone {
    transform: scale(1.23) translate(-50%); }

  #coffee {
    transform: scale(1.12) rotate(30deg); }

  #eraser {
    transform: scale(1.23) rotate(-45deg); }

  #grafite-cont {
    transform: scale(1.12) rotate(-25deg); }

  .notepad {
    transform: scale(0.91) rotate(25deg); }

  .wrap {
    transform: scale(0.91); }

  #headset {
    transform: scale(1.12) rotate(-30deg); } }
@media (max-width: 1200px) {
  #keyboard {
    transform: scale(0.81) rotate(-45deg);
    left: -18%;
    top: 8%; }

  .pen {
    transform: scale(0.81) rotate(-70deg); }

  #mouse {
    transform: scale(0.901) rotate(18deg);
    left: 22%; }

  #iphone {
    transform: scale(1.123) translate(-50%); }

  #coffee {
    transform: scale(1.012) rotate(30deg); }

  #eraser {
    transform: scale(1.123) rotate(-45deg);
    left: 70%; }

  #grafite-cont {
    transform: scale(1.012) rotate(-25deg);
    top: 135%; }

  .notepad {
    transform: scale(0.81) rotate(25deg); }

  .wrap {
    transform: scale(0.81); }

  #headset {
    transform: scale(1.012) rotate(-30deg);
    top: 80%; } }
@media (max-width: 1000px) {
  #keyboard {
    transform: scale(0.71) rotate(-45deg);
    left: -28%;
    top: 0%; }

  .pen {
    transform: scale(0.71) rotate(-70deg);
    left: 70%; }

  #mouse {
    transform: scale(0.801) rotate(18deg);
    left: 22%; }

  #iphone {
    transform: scale(1.0123) translate(-50%); }

  #coffee {
    transform: scale(0.9012) rotate(30deg);
    left: 60%; }

  #eraser {
    transform: scale(1.0123) rotate(-45deg);
    left: 70%; }

  #grafite-cont {
    transform: scale(0.9012) rotate(-25deg);
    top: 135%;
    left: -12%; }

  .notepad {
    transform: scale(0.71) rotate(25deg); }

  .wrap {
    transform: scale(0.71); }

  #headset {
    transform: scale(0.9012) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 800px) {
  #keyboard {
    transform: scale(0.671) rotate(-45deg);
    left: -33%;
    top: 0%; }

  .pen {
    transform: scale(0.671) rotate(-65deg);
    left: 60%;
    top: 30%; }

  #mouse {
    transform: scale(0.7801) rotate(18deg);
    left: 22%; }

  #iphone {
    transform: scale(0.90123) translate(-50%); }

  #coffee {
    transform: scale(0.8012) rotate(30deg);
    left: 55%; }

  #eraser {
    transform: scale(0.90123) rotate(-45deg);
    left: 77%; }

  #grafite-cont {
    transform: scale(0.8012) rotate(-25deg);
    top: 135%;
    left: -18%; }

  .notepad {
    transform: scale(0.671) rotate(25deg); }

  .wrap {
    transform: scale(0.671); }

  #headset {
    transform: scale(0.8012) rotate(-30deg);
    top: 90%;
    left: -15%; } }
@media (max-width: 600px) {
  #keyboard {
    transform: scale(0.5671) rotate(-45deg);
    left: -28%;
    top: 10%; }

  .pen {
    transform: scale(0.5671) rotate(-65deg);
    left: 56%;
    top: 35%; }

  #mouse {
    transform: scale(0.67801) rotate(18deg);
    left: 25%; }

  #iphone {
    transform: scale(0.80123) translate(-50%); }

  #coffee {
    transform: scale(0.7012) rotate(30deg);
    left: 50%; }

  #eraser {
    transform: scale(0.80123) rotate(-45deg);
    left: 63%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.7012) rotate(-25deg);
    top: 135%;
    left: -18%; }

  .notepad {
    transform: scale(0.5671) rotate(25deg);
    left: 90%;
    top: -0%; }

  .wrap {
    transform: scale(0.5671); }

  #headset {
    transform: scale(0.7012) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 500px) {
  #keyboard {
    transform: scale(0.5) rotate(-45deg);
    left: -28%;
    top: 10%; }

  .pen {
    transform: scale(0.5) rotate(-65deg);
    left: 56%;
    top: 35%; }

  #mouse {
    transform: scale(0.62) rotate(18deg);
    left: 25%; }

  #iphone {
    transform: scale(0.7) translate(-50%); }

  #coffee {
    transform: scale(0.63) rotate(30deg);
    left: 50%; }

  #eraser {
    transform: scale(0.7) rotate(-45deg);
    left: 63%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.63) rotate(-25deg);
    top: 135%;
    left: -18%; }

  .notepad {
    transform: scale(0.5) rotate(25deg);
    left: 90%;
    top: -0%; }

  .wrap {
    transform: scale(0.5); }

  #headset {
    transform: scale(0.63) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 430px) {
  #keyboard {
    transform: scale(0.45) rotate(-45deg);
    left: -28%;
    top: -10%; }

  .pen {
    transform: scale(0.45) rotate(-65deg);
    left: 46%;
    top: 35%; }

  #mouse {
    transform: scale(0.562) rotate(18deg);
    left: 25%; }

  #iphone {
    transform: scale(0.67) translate(-50%); }

  #coffee {
    transform: scale(0.563) rotate(30deg);
    left: 50%; }

  #eraser {
    transform: scale(0.67) rotate(-45deg);
    left: 63%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.563) rotate(-25deg);
    top: 135%;
    left: -18%; }

  .notepad {
    transform: scale(0.45) rotate(25deg);
    left: 90%;
    top: -0%; }

  .wrap {
    transform: scale(0.45); }

  #headset {
    transform: scale(0.563) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 380px) {
  #keyboard {
    transform: scale(0.45) rotate(-45deg);
    left: -32%;
    top: -15%; }

  .pen {
    transform: scale(0.45) rotate(-65deg);
    left: 40%;
    top: 23%; }

  #mouse {
    transform: scale(0.562) rotate(18deg);
    left: 22%; }

  #iphone {
    top: 0%;
    transform: scale(0.67) translate(-50%); }

  #coffee {
    transform: scale(0.563) rotate(30deg);
    top: 0%;
    left: 50%; }

  #eraser {
    transform: scale(0.67) rotate(-45deg);
    left: 57%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.563) rotate(-25deg);
    top: 120%;
    left: -25%; }

  .notepad {
    transform: scale(0.45) rotate(25deg);
    left: 90%;
    top: -10%; }

  .wrap {
    transform: scale(0.45); }

  #headset {
    transform: scale(0.563) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 350px) {
  #keyboard {
    transform: scale(0.42) rotate(-45deg);
    left: -36%;
    top: -15%; }

  .pen {
    transform: scale(0.42) rotate(-65deg);
    left: 37%;
    top: 20%; }

  #mouse {
    transform: scale(0.54) rotate(18deg);
    left: 20%; }

  #iphone {
    top: 0%;
    transform: scale(0.64) translate(-50%); }

  #coffee {
    transform: scale(0.54) rotate(30deg);
    top: 0%;
    left: 47%; }

  #eraser {
    transform: scale(0.64) rotate(-45deg);
    left: 54%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.54) rotate(-25deg);
    top: 120%;
    left: -25%; }

  .notepad {
    transform: scale(0.42) rotate(25deg);
    left: 87%;
    top: -12%; }

  .wrap {
    transform: scale(0.415); }

  #headset {
    transform: scale(0.54) rotate(-30deg);
    top: 90%;
    left: -10%; } }
@media (max-width: 320px) {
  #keyboard {
    transform: scale(0.4) rotate(-45deg);
    left: -42%;
    top: -20%; }

  .pen {
    transform: scale(0.4) rotate(-65deg);
    left: 30%;
    top: 15%; }

  #mouse {
    transform: scale(0.52) rotate(18deg);
    left: 15%; }

  #iphone {
    top: 0%;
    transform: scale(0.62) translate(-50%); }

  #coffee {
    transform: scale(0.52) rotate(30deg);
    top: 0%;
    left: 47%; }

  #eraser {
    transform: scale(0.62) rotate(-45deg);
    left: 54%;
    top: 105%; }

  #grafite-cont {
    transform: scale(0.52) rotate(-25deg);
    top: 120%;
    left: -25%; }

  .notepad {
    transform: scale(0.4) rotate(25deg);
    left: 87%;
    top: -12%; }

  .wrap {
    transform: scale(0.4); }

  #headset {
    transform: scale(0.52) rotate(-30deg);
    top: 90%;
    left: -10%; } }

/*# sourceMappingURL=hero-img.css.map */
