#keyboard {
  position: absolute;
  margin: 2rem; }
  #keyboard #ext {
    background-color: #e8e8e8;
    width: 25rem;
    height: 12rem;
    border: #454545 solid 0.8rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #keyboard #ext .row4 {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #keyboard #ext .row4 .btn {
        border: #454545 solid 0.4rem;
        border-radius: 0.4rem; }
      #keyboard #ext .row4 .cm {
        width: 5%;
        height: 60%;
        background-color: #fff; }
      #keyboard #ext .row4 .spc {
        width: 70%;
        height: 60%;
        background-color: #fff; }
    #keyboard #ext .row3 {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #keyboard #ext .row3 .btn {
        border: #454545 solid 0.4rem;
        border-radius: 0.4rem; }
      #keyboard #ext .row3 .cm {
        width: 5%;
        height: 60%;
        background-color: #fff; }
      #keyboard #ext .row3 .tab {
        width: 15%;
        height: 60%;
        background-color: #fff; }
    #keyboard #ext .row2 {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #keyboard #ext .row2 .btn {
        border: #454545 solid 0.4rem;
        border-radius: 0.4rem; }
      #keyboard #ext .row2 .cm {
        width: 5%;
        height: 60%;
        background-color: #fff; }
    #keyboard #ext .row1 {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      border-top: solid #454545 0.4rem; }
      #keyboard #ext .row1 .btn {
        border: #454545 solid 0.4rem;
        border-radius: 0.4rem; }
      #keyboard #ext .row1 .pq {
        width: 4%;
        height: 20%;
        background-color: #fff; }

#mouse {
  position: absolute;
  margin: 2rem; }
  #mouse #corpo {
    width: 5rem;
    height: 8rem;
    background-color: #fff;
    border: solid #454545 0.6rem;
    border-radius: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    padding: 0.6rem;
    justify-content: space-between;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #mouse #corpo #ponto {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: #e7e7e7;
      align-self: center; }
    #mouse #corpo #click {
      width: 1rem;
      height: 2rem;
      border-right: solid #454545 0.3rem;
      border-top: solid #454545 0.3rem;
      border-top-right-radius: 1rem;
      align-self: flex-end;
      box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35); }

#iphone {
  position: absolute;
  margin: 2rem;
  box-sizing: border-box;
  width: 5.5rem;
  height: 9rem;
  background-color: #fff;
  border: solid #454545 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: space-between;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  #iphone #tela {
    width: 3.5rem;
    height: 5rem;
    border: solid 0.3rem #454545;
    background-color: #7d7d7d;
    align-self: center; }
  #iphone #botao-circ {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: solid 0.3rem #454545;
    background-color: #fff;
    align-self: center; }
  #iphone #faixa-top {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #iphone #faixa-top .ponto-ip {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      border: solid 0.1rem #454545;
      background-color: #454545; }
    #iphone #faixa-top .faixa-ip {
      margin-left: 0.5rem;
      width: 0.8rem;
      height: 0.1rem;
      background-color: #454545;
      border: solid 0.1rem #454545;
      border-radius: 0.1rem; }

#coffee {
  margin: 2rem;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #fff;
  border: solid #454545 0.6rem;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 200;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  #coffee #alca {
    width: 2.5rem;
    height: 1rem;
    background-color: #fff;
    border-top: solid #454545 0.5rem;
    border-right: solid #454545 0.5rem;
    border-bottom: solid #454545 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    margin-top: 2rem;
    z-index: 1;
    left: 99%;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  #coffee #interior {
    width: 4rem;
    height: 4rem;
    background-color: #857565;
    border: solid #454545 0.3rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    position: relative; }
    #coffee #interior #marca {
      width: 1rem;
      height: 1rem;
      border-right: solid #454545 0.3rem;
      border-top: solid #454545 0.3rem;
      border-top-right-radius: 2rem;
      align-self: flex-start;
      position: absolute;
      left: 2rem;
      top: 0.5rem; }

#eraser {
  margin: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute; }
  #eraser #capa {
    width: 2rem;
    height: 3rem;
    background-color: #fff;
    border: solid #454545 0.4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #eraser #capa #lin8 {
      width: 100%;
      height: 60%;
      background-color: #07bdff;
      border-bottom: solid #454545 0.2rem; }
    #eraser #capa #lin9 {
      width: 50%;
      height: 10%;
      background-color: #e2413a;
      align-self: center;
      margin-top: 20%; }
  #eraser #borracha {
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35);
    width: 2rem;
    height: 2.5rem;
    background-color: #fff;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    border-left: solid #454545 0.4rem;
    border-top-left-radius: 1.25rem;
    align-self: center; }
    #eraser #borracha #lin10 {
      margin: 0.4rem;
      width: 1rem;
      height: 1.25rem;
      border-top: solid #454545 0.4rem;
      border-left: solid #454545 0.4rem;
      border-radius: 50%; }

#grafite-cont {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  position: absolute; }
  #grafite-cont #grafite {
    box-sizing: border-box;
    width: 7rem;
    height: 2.5rem;
    background-color: #07bdff;
    border: solid #454545 0.4rem;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #grafite-cont #grafite #lin1 {
      height: 0.6rem;
      width: 2.5rem;
      border-bottom: #454545 solid 0.3rem; }
    #grafite-cont #grafite #lin2 {
      height: 0.6rem;
      width: 0.7rem;
      margin-left: 0.3rem;
      border-bottom: #454545 solid 0.3rem; }
    #grafite-cont #grafite #lin3 {
      height: 100%;
      width: 1rem;
      border: #454545 solid 0.4rem;
      background-color: #fff; }
    #grafite-cont #grafite #tampa {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background-color: grey;
      border: solid #454545 0.4rem;
      display: flex;
      left: 6.5rem;
      top: 2.5rem;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
      #grafite-cont #grafite #tampa #lin4 {
        height: 0.9rem;
        width: 100%;
        margin-right: 0.3rem;
        border-bottom: #454545 solid 0.3rem; }
  #grafite-cont #pontas {
    margin-top: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative; }
    #grafite-cont #pontas #lin5 {
      background-color: #454545;
      margin-top: 0.4rem;
      width: 1rem;
      height: 0.2rem;
      position: absolute;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #grafite-cont #pontas #lin6 {
      background-color: #454545;
      margin-top: 0.7rem;
      width: 0.8rem;
      height: 0.2rem;
      position: absolute;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    #grafite-cont #pontas #lin7 {
      background-color: #454545;
      margin-top: 1rem;
      width: 1.8rem;
      height: 0.2rem;
      position: absolute;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }

.notepad {
  margin: 2rem;
  position: absolute; }

.teste-c {
  z-index: 10;
  position: absolute;
  width: 18.75rem;
  height: 25rem;
  background: #84C856;
  border-radius: 0.3125rem 0.3125rem 0.3125rem 0.9375rem; }

.teste-a {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  width: 18.75rem;
  height: 25rem;
  background: #fff;
  border-radius: 0.8125rem 0.8125rem 0.8125rem 1.25rem; }

.teste-b {
  z-index: -20;
  content: "";
  position: absolute;
  top: 1.125rem;
  left: 1.125rem;
  width: 18.75rem;
  height: 25rem;
  background: #454545;
  opacity: 0.5;
  border-radius: 0.8125rem 0.8125rem 0.8125rem 1.25rem;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }

.ring {
  position: absolute;
  top: 0.9375rem;
  left: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  background: #fff;
  border-radius: 100%;
  z-index: 30; }

.ring:before {
  content: "";
  position: absolute;
  top: 0.1875rem;
  left: -0.9375rem;
  width: 1.25rem;
  height: 0.3125rem;
  background: #319073;
  border-radius: 0.1875rem; }

#ring {
  position: absolute; }

.pen {
  margin: 2rem;
  width: 18rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute; }
  .pen .pen1 {
    width: 5%;
    height: 10%;
    background-color: #454545;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen2 {
    width: 2.5%;
    height: 10%;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    border-left: solid #454545 0.4rem;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: #fff;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen3 {
    width: 2.5%;
    height: 45%;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    border-left: solid #454545 0.4rem;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: #fff;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen4 {
    width: 29.5%;
    height: 80%;
    background-color: #fff;
    border: solid #454545 0.6rem;
    border-radius: 15%;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
    .pen .pen4 .pens {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .pen .pen4 .pens .marca {
        width: 30%;
        height: 40%;
        border-radius: 25%;
        background-color: #07bdff; }
  .pen .pen5 {
    width: 5%;
    height: 60%;
    background-color: #fff;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen6 {
    width: 2%;
    height: 60%;
    background-color: #e2413a;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen7 {
    width: 50%;
    height: 60%;
    background-color: #fff;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    border-right: solid #454545 0.4rem;
    border-top-right-radius: 7.5%;
    border-bottom-right-radius: 7.5%;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen8 {
    width: 2.5%;
    height: 10%;
    border-top: solid #454545 0.4rem;
    border-bottom: solid #454545 0.4rem;
    background-color: #454545;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }
  .pen .pen9 {
    width: 1%;
    height: 45%;
    border: solid #454545 0.4rem;
    background-color: #454545;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35); }

#headset {
  position: absolute;
  width: 10rem;
  height: 7rem;
  border-top: solid #454545 1.2rem;
  border-right: solid #454545 1.2rem;
  border-left: solid #454545 1.2rem;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  box-sizing: border-box;
  box-shadow: 5px -2px 3px 0px rgba(0, 0, 0, 0.35);
  display: flex; }
  #headset #phone {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    #headset #phone .phone1 {
      position: absolute;
      width: 2.5rem;
      height: 3.5rem;
      background-color: #07bdff;
      border-right: solid #e8e8e8 1.2rem;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      left: -2rem;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35);
      top: 5.5rem; }
    #headset #phone .phone2 {
      position: absolute;
      width: 2.5rem;
      height: 3.5rem;
      background-color: #07bdff;
      border-right: solid #e8e8e8 1.2rem;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      left: 6rem;
      top: 5.5rem;
      box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.35);
      transform: rotate(-180deg); }

#tags {
  position: absolute;
  content: "fdijsfdosfjisdffsdfds fsdfsdfosdijf";
  left: 70%;
  top: 78%; }

/*# sourceMappingURL=keyboard.css.map */
