$light: darken(#2b2d3c, 10);
$dark: lighten(#2b2d3c, 35);
$radius: 50px;

$header-height: 128px;

$footer-height: 128px;
$faixa-header-height: 5px;

$faixa-header-color: $dark;
$header-color: #2b2d3c;
$main-color: darkblue;
$articles-color: darkcyan;
$footer-color: darkkhaki;

$espacoEntreCadaFoto: 1px;

$border-foto: black solid 5px;

$header-height-mob: 73px;

/**************************************************/
html {
  background-color: $light;
  min-width: 320px;
}
body {
  display: grid;
  grid-template-rows: $header-height-mob 84vh auto 16vh;
}

.header {
  display: grid;
  background-color: $header-color;
  grid-template-rows: $faixa-header-height auto;
  .row {
    background-color: $faixa-header-color;
  }
  .cabecalho {
    display: flex;
    justify-content: space-between;
    .logo img {
    }
    .menu-hamburguer {
      background: $light;
      text-align: center;
      font-size: 200%;
      color: $dark;
      display: flex;
      flex-direction: column;
      height: $header-height-mob;
      width: $header-height-mob;
      position: relative;
      & > * {
        margin: auto;
      }
    }
  }
}

.main {
  background-color: $main-color;
}

.articles {
  background-color: $articles-color;
}

.footer {
  background-color: $footer-color;
}

/**************************************************/

/**************************************************/

// Colors
.hamburgler {
  width: $header-height-mob * 3 / 4;
  height: $header-height-mob * 3 / 4;
  display: block;
  transition: 0.3s ease all;
  &.no-hamburgler {
    transform: rotate(-45deg);
  }
}

.bun,
.meat {
  display: block;
  width: 100%;
  background: $dark;
  height: 20%;
  transition: 0.3s ease all;
  border-radius: $radius;
}

.top {
  .no-hamburgler & {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: $radius $radius 0 0;
  }
}

.bottom {
  .no-hamburgler & {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 0 0 $radius $radius;
  }
}

.meat {
  margin: 20% 0;
  .no-hamburgler & {
    margin: 2% 0;
  }
}
/**************************************************/

/**************************************************/

@media screen and (min-width: 380px) {
  body {
    display: grid;
    grid-template-rows: $header-height 72vh auto 16vh;
  }
  .img-container .logo {
    display: none;
  }
  .img-container::before {
    content: url("../img/nome-destaque-250-125.jpg");
  }
  .hamburgler {
    width: $header-height * 3 / 4;
    height: $header-height * 3 / 4;
  }
  .header {
    .cabecalho {
      .menu-hamburguer {
        text-align: center;
        font-size: 200%;
        height: $header-height !important;
        width: $header-height;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .menu-hamburguer {
    visibility: hidden;
  }
}

/**************************************************/

/**************************************************/

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .foto-rosto {
    display: flex;
  }
  .myFace:nth-child(-n + 2) {
    margin-right: $espacoEntreCadaFoto;
  }
  #foto1 {
    order: 1;
    height: 60vh;
    border-bottom: $border-foto;
    border-top: $border-foto;
    border-left: $border-foto;
  }
  #foto2 {
    order: 2;
    height: 60vh;
    border-bottom: $border-foto;
    border-top: $border-foto;
  }
  #foto3 {
    order: 3;
    height: 60vh;
    border-bottom: $border-foto;
    border-top: $border-foto;
    border-right: $border-foto;
  }
}

/**************************************************/

/**************************************************/

#foto1 {
  filter: grayscale(100%);
}
#foto1:hover {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%);
}

#foto2 {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%);
}
#foto2:hover {
  filter: grayscale(100%);
}

#foto3 {
  filter: grayscale(100%);
}
#foto3:hover {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%);
}

/**************************************************/
.articles {
  text-align: center;
}
.articles .portifolio {
  display: grid;
  //   grid-template-rows: 35px auto auto;
  position: relative;
  justify-content: center;
  ul {
    margin: 100px 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    border-top: 1px solid #000;
    max-width: 1092px;
    li {
      border-radius: 2%;
      border: 1px solid #000;
      margin: 15px 10px;
      background-color: white;
      a {
        text-decoration: none;
        h4 {
        }
      }
    }
    span {
      text-transform: uppercase;
    }
    img {
      width: 70vw;
      max-width: 320px;
      margin: 10px 10px;
      border: 1px solid #000;
      border-radius: 2%;
    }
  }
  .apresentacao {
	position: absolute;
    text-transform: uppercase;
	margin-top: 90px;
	left: 50%;
	padding: 0px;
	background-color: white;
	width: 300px;
	display: block;
	transform: translate(-50%);
  }
}
.footer {
	position: relative;
}
.footer div .icon-cheveron-up{
	position: absolute;
	font-size: 100px;
	border: black solid 2px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	left: 50%;
	transform: translate(-50%);
	margin-top: -70px;
}